  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <%= link_to "ShuffleBoard", root_path, id: "logo" %>
            
            <nav>
              <ul class="nav pull-right">
                  <li><%= link_to "Home", root_path %></li>
		  <% if sign_in?  %>
                  <li><%= link_to "Sign out", signout_path, method:"delete" %></li>
		  <% else %>
                  <li><%= link_to "Sign in", signin_path %></li>
		  <% end %>
                  <li><%= link_to "Help", help_path %></li>
                  <li><%= link_to "Contacts", contacts_path %></li>
                  <li>
                    <%= form_tag('/search', method: :get, :class => "navbar-search" ) do %>
                      <%= text_field_tag :search, params[:search], :id => 'search_field', :class => "search-query" %>
                    <% end %>
                  </li>
              </ul>
            </nav>
        </div><!-- class="container" -->
    </div><!-- class="navbar-inner -->
  </header>
